<div class="columns">
	<div class="column" *ngFor="let product of products">
		<div class="card">

			<header class="card-header">
				<p class="card-header-title">
					{{ product.id }} - {{ product.name }}
				</p>
			</header>

			<div class="card-content">
				<div class="content">
					Preço: {{ product.price }}
				</div>
			</div>

			<footer class="card-footer">
				<div class="card-footer-item">
					<button class="button is-warning">Editar</button>
				</div>
				<div class="card-footer-item">
					<button class="button is-danger">Excluir</button>
				</div>
			</footer>

		</div>
	</div>
</div>