<div class="container">

	<div class="columns">
		<div class="column">
			<a routerLink="/">
				<i class="material-icons">home</i>
				Início
			</a>
			
			<a routerLink="/products">
				<i class="material-icons">storefront</i>
				Produtos
			</a>
		</div>
	</div>

	<router-outlet></router-outlet>

</div>