<div class="field">
  <label class="label">Cadastro de Porduto</label>
  <div class="control has-icons-left has-icons-right">
		<input 
			class="input" 
			type="email" 
			placeholder="Nome do produto"
			[(ngModel)]="product.name"
		>
    <span class="icon is-small is-left">
      <span class="material-icons">
				production_quantity_limits
			</span>
    </span>
    <span class="icon is-small is-right">
      <span class="material-icons">
				check
			</span>
    </span>
  </div>
</div>

<div class="field">
  <div class="control has-icons-left has-icons-right">
		<input 
			class="input"
			type="number"
			placeholder="Preço"
			[(ngModel)]="product.price"
		>
    <span class="icon is-left">
			<span class="material-icons">
				attach_money
			</span>
    </span>
    <span class="icon is-right">
			<span class="material-icons">
				check
			</span>
    </span>
  </div>
</div>

<button
	class="button is-primary mg-r-1"
	(click)="createProduct()"
	>Salvar
</button>
<button
	class="button is-danger"
	(click)="navigateProducts()"
	>Cancelar
</button>