<!-- <button
	class="button is-info mg-r-1"
	(click)="navigateToProductRead()"
	>Produtos
</button> -->
<button
	class="button is-primary mg-r-1"
	(click)="navigateToProductCreate()"
	>Cadastrar Produto
</button>

<br><br>

<h1 class="title">
	Produtos
</h1>

<hr>

<app-product-read></app-product-read>
<app-product-read2></app-product-read2>
