/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
	padding: 20px;
}

.mg-r-1{
	margin-right: 10px;
}